
.cardSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem 4rem 2rem;
    
}
h1{
    margin-bottom: 4rem;
    justify-content: center;
}
.cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 20px;
}

.cards {
    min-width: 50px;
    width: 15vw;
    height: 20vh;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    /* border: 5px solid #000; */
    box-shadow: 10px 10px 5px 0px rgba(217, 205, 205, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(217, 205, 205, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(217, 205, 205, 0.75);
    transition: all 100ms ease-in-out;
}
.cards:hover{
    transform: scale(1.05);
}
.cards>h1 {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}
.PhotoGallery {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    border-radius: 5px;
    gap: 1.2rem;
    justify-content: center; 
    padding: 5rem 0;
    transition: all 100ms ease-in-out;
}
.PhotoGallery>img{
    transition: all 100ms ease-in-out;
}
.PhotoGallery>img:hover{
    transform: scale(1.05);
}
.gallerImg {
    border-radius: 20%;
    height: 18rem;
    width: 15rem;
}